<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zeng.bookstore">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="24"></uses-sdk>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    
    <application
        android:name="com.project.zeng.bookstore.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.project.zeng.bookstore.ui.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.project.zeng.bookstore.ui.LoginActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.project.zeng.bookstore.ui.SearchActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.project.zeng.bookstore.ui.ProductsActivity"></activity>
        <activity android:name="com.project.zeng.bookstore.ui.ProductDetailActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name="com.project.zeng.bookstore.ui.RegisterActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.project.zeng.bookstore.ui.ResetPasswordActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.project.zeng.bookstore.ui.RegisterPswActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.project.zeng.bookstore.ui.CartActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.project.zeng.bookstore.ui.SettingActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.project.zeng.bookstore.ui.UserSettingActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.project.zeng.bookstore.ui.SellerActivity" />

        <service android:name="com.project.zeng.bookstore.GetTokenService" />
        <receiver android:name="com.project.zeng.bookstore.NetState" />
        <activity android:name="cn.bmob.pay.v3.act.PayAct" />
    </application>

</manifest>